.AllContacts {
  display: flex;
  height: 65px;
  cursor: pointer;
  margin-top: 10px;
}
.PersonPhoto {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  margin: 10px;
}
.ContactName {
  font-size: 14px;
  font-weight: bold;
}

.ContactMessage {
  font-size: 14px;
  font-weight: lighter;
  margin: 10px 0 5px 0;
}
.CloseMessages {
  display: flex;
  flex-direction: column;
  float: right;
  
  padding: 5px;
}

.AllContacts:hover {
  background-color: #dfdfdf;
}
.divider {
  border-bottom: 1px solid #ebebeb;
  margin-left: 20px;
  width: 300px;
}
